<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

<title>{{ title }}</title>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<meta name="robots" content="noindex">
<link rel="icon" href="{{ base }}favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="{{ base }}style.css" type="text/css">

</head>
<body>

<h1 class="title"><a href="{{ base }}index.html">WebSims</a></h1>

<ul class="navbar">
<li><a href="{{ base }}index.html">Catalog</a></li>
<li><a href="{{ base }}about.html">About</a></li>
<li>
<form class="navbar" action="/websims/app">
<div>
<input type="text" size="30" name="search" value="{{ search }}">
<input type="submit" value="Search">
</div>
</form>
</li>
</ul>
{%- block content %}{{ content }}{% endblock -%}

</body>
</html>
