{% extends "base.html" %}
{% block content %}

<form class="index" action="/websims/app">
<table>

<tr>
<th></th>
<th>Title</th>
<th>Author</th>
<th>Date</th>
<th></th>
<th></th>
<th></th>
</tr>

{% for meta in items -%}
<tr>
{%- if meta.grouped %}
<td><input type="checkbox" name="ids" value="{{ meta.id }}"></td>
{%- else %}
<td></td>
{%- endif %}
<td><a href="{{ meta.index }}">{{ meta.title }}</a></td>
<td>{{ meta.author }}</td>
<td>{{ meta.rundate }}</td>
<td><a href="{{ meta.index }}">Plots</a></td>
<td><a href="{{ meta.files }}">Files</a></td>
<td><a href="{{ meta.meta  }}">Metadata</a></td>
</tr>
{% if 'endgroup' in meta %}
<tr>
<td colspan="7"><input type="submit" value="Compare"></td>
</tr>
{% endif %}
{% endfor -%}

</table>
</form>

{% endblock content %}
