{% extends "base.html" %}
{% block content %}

{# title bar -#}
<h3><a href="{{ home }}">{{ title }}</a> / {{ subtitle }}</h3>
{{ notes }}

{#- time history form #}
{%- if t_ids %}
<form class="t" action="/websims/app">
<fieldset>
<legend>Time history</legend>
<input type="hidden" name="ids" value="{{ t_ids }}">
<label for="x">{{ axes }} ({{ xlim }}):</label>
<input id="x" type="text" size="12" name="x" value="{{ x }}"><br>
<label for="lowpass">Lowpass frequency ({{ flim }}):</label>
<input id="lowpass" type="text" size="12" name="lowpass" value="{{ lowpass }}"><br>
<input type="submit" value="Plot">
</fieldset>
</form>
{% endif %}

{#- snapshot form #}
{%- if x_ids %}
<form class="x" action="/websims/app">
<fieldset>
<legend>Snapshot</legend>
<input type="hidden" name="ids" value="{{ x_ids }}">
<label for="t">Time ({{ tlim }}):</label>
<input id="t" type="text" size="12" name="t" value="{{ t }}"><br>
<label for="decimate">Decimation interval:</label>
<input id="decimate" type="text" size="12" name="decimate" value="{{ decimate }}"><br>
<input type="submit" value="Plot">
</fieldset>
</form>
{% endif %}

{#- clear floats #}
<div style="clear: both"></div>

{#- plots #}
<div>
{% if click %}
{%- for item in plots %}
<a title="{{ tooltip }}" href="{{ click }}"><img class="plot" src="{{ item|e }}" alt="plot" ismap></a>
{%- endfor %}
{%- else %}
{%- for item in plots %}
<img class="plot" src="{{ item|e }}" alt="plot"><br>
{%- endfor %}
{%- endif %}
</div>

{#- downloads #}
{% if downloads %}
<h3>Download source data</h3>
<ul>
{%- for item in downloads %}
<li>
{{ item.label }}:
<a href="{{ item.url|e }}">{{ item.root }}</a>
</li>
{%- endfor %}
</ul>
{%- endif %}

{% endblock content %}
