.git
.DS_Store
__pycache__
*.pyc
*.so
*.o
*.mod
*.lst
*.ipo
*.il
*.stb
*.sha1
*.x
*.dSYM
/cst/repo
/cst/cvms/build-*
/cst/cvms/Makefile
/cst/tests/Makefile
/cst/tests/run
/cst/sord/Makefile
/cst/sord/config.json
/scripts/run
