.git
.DS_Store
*.pyc
*.so
*.o
*.mod
*.lst
*.ipo
*.il
*.stb
*.sha1
*.x
*.dSYM
run
tmp
TODO
/dev
/data
/cst/data
/cst/build
/cst/cvms/build
/cst/sord/Makefile
/cst/sord/config.yaml
/cst/tests/Makefile
/scripts/cvm/Makefile
