/* CSS stylesheet */

body {
    margin: 30px;
    background-color: #fff;
    color: #000;
    font-family: 'Lucida Grande', Geneva, Verdana, sans-serif;
}

h2, h3, p.topic-title {
    font-weight: bold;
    font-size: large;
    margin-top: 30px;
    padding-top: 10px;
    border-top: 2px solid #ddd;
}

h1.title {
    margin: 0px;
    color: #800;
}

h2.subtitle {
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
    border: none;
}

pre {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
}

img {
    border: none;
}

img.align-right {
    margin-top: 50px;
    clear: right;
    float: right;
}

a {
    color: #48c;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

hr {
    border: 0;
    border-top: 2px solid #ddd;
}

table {
    border-style: none;
    border-collapse: collapse;
}

td {
    padding: 4px 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
}

