/* CSS stylesheet */

body {
    margin: 30px;
    background-color: #fff;
    color: #000;
    font-family: 'Lucida Grande', Geneva, Verdana, sans-serif;
}

h1 {
    color: #900;
    margin: 0px;
}

h2 {
    font-size: large;
    margin: 0px;
}

h3 {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 2px solid #ddd;
}

p.topic-title {
    font-size: large;
    font-weight: bold;
}

pre {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
}

img {
    border: none;
}

img.align-right {
    border: 10px solid #fff;
    border-right: 0px;
    float: right;
    float: top;
}

a {
    color: #06a;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

hr {
    border: 0;
    border-top: 2px solid #ddd;
}

table {
    margin-top: 10px;
    margin-bottom: 30px;
    border-style: none;
    border-collapse: collapse;
}

td {
    padding: 4px 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
}

.section li {
    padding: 5px;
}

