/* CSS stylesheet */

body {
    margin: 30px;
    background-color: #fff;
    color: #000;
    font-family: 'Lucida Grande', Geneva, Verdana, sans-serif;
}

h1 {
    color: #900;
    margin: 0px;
}

h2 {
    font-size: large;
    margin: 0px;
}

h3 {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 2px solid #ddd;
}

p.topic-title {
    font-size: large;
    font-weight: bold;
}

pre {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
}

img {
    border: none;
}

img.align-right {
    border: 10px solid #fff;
    border-right: 0px;
    float: right;
    float: top;
}

a {
    color: #06a;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

hr {
    border: 0;
    border-top: 2px solid #ddd;
}

.section li {
    padding: 5px;
}

ul.navbar
{
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.navbar li
{
    float: left;
    border: 1px solid #ddd;
}

.navbar a {
    display: block;
    padding: 4px 10px;
    text-decoration: none;
    background-color: #f4f4f4;
}

.navbar a:hover, a:active {
    background-color: #ddd;
}

