/* CSS stylesheet */

body {
    margin: 0px;
    color: #000;
    font-family: 'Lucida Grande', Geneva, Verdana, sans-serif;
    line-height: 130%;
}

div.document {
    margin: -60px auto 30px auto;
    width: 800px;
    position: relative;
}

img {
    border: none;
}

img.plot {
    margin: 0px -100px;
}

img.align-right {
    float: right;
}

hr {
    border: none;
    border-top: 2px solid #ccc;
}

pre {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #eee;
}

a {
    color: #06a;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

.section li {
    padding: 5px;
}

div.header {
    height: 60px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

h1, h1 a, h1 a:hover, h1 a:active {
    color: #900;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 50px;
}

fieldset {
    border: 1px solid #ccc;
}

form.x {
    float: left;
    text-align: right;
    margin-bottom: 30px;
}

form.t {
    float: right;
    text-align: right;
    margin-bottom: 30px;
}

fieldset {
    border: 1px solid #ccc;
    background-color: #eee;
}

legend {
    font-weight: bold;
    text-align: left;
}

form.navbar {
    display: inline;
    margin-left: 10px;
    float: none;
}

ul.navbar {
    list-style-type: none;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px;
    margin: 0px;
}

.navbar li {
    display: inline;
}

.navbar a {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 4px 10px;
    text-decoration: none;
}

.navbar a:hover, a:active {
    background-color: #ccc;
}

p.topic-title {
    font-size: large;
    font-weight: bold;
}

p.warning {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #ffd;
}

table {
    width:100%;
    margin: 10px 0px;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

th {
    text-align: left;
    padding: 4px 10px;
    border: none;
    background-color: #eee;
}

td {
    text-align: left;
    padding: 4px 10px;
    border: none;
    border-top: 1px solid #eee;
}

