body { width: 800px; margin: 0px 100px 100px 100px; color: #000; background-color: #fff; font-family: 'Lucida Grande', Geneva, Verdana, sans-serif; line-height: 130%; position: relative; }
img { border: none; }
img.plot { margin: 0px -100px; display: block; }
a { color: #06a; text-decoration: none; }
a:hover, a:active { text-decoration: underline; }
li { padding: 5px; }
h1 { padding: 15px 0px; margin: 0px; margin-bottom: 40px; border-bottom: 1px solid #ccc; }
h1, h1 a, h1 a:hover, h1 a:active { color: #900; text-decoration: none; font-weight: bold; }
form.x { float: left; text-align: right; margin-bottom: 30px; }
form.t { float: right; text-align: right; margin-bottom: 30px; }
fieldset { border: 1px solid #ccc; }
legend { font-weight: bold; text-align: left; }
ul.navbar { list-style-type: none; position: absolute; top: 15px; right: 0px; padding: 0px; margin: 0px; }
form.navbar { display: inline; padding 0px; margin-left: 20px; }
.navbar div { display: inline; }
.navbar li { display: inline; padding: 0px }
.navbar a { margin: 5px; }
table { width:100%; margin: 10px 0px; border-collapse: collapse; border: 1px solid #ccc; }
th { text-align: left; padding: 4px 10px; border: none; background-color: #eee; }
td { text-align: left; padding: 4px 10px; border: none; border-top: 1px solid #eee; }
